@keyframes animate-preloader {
  0% {
	opacity: 1;
	left: 0;
  }
  60% {
	left: 100%;
  }
  70% {
	opacity: 0;
  }
  100% {
	left: 0;
	opacity: 0;
  }
}
.preloader {
  position: fixed;
  top: 108px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 200;
  opacity: 1;
  transition: opacity 1s;
  .loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 10px;
	background: linear-gradient(90deg, rgba(0, 13, 36, 0) 0%, rgba(3, 65, 6, 0.5382528011204482) 10%, rgba(9, 121, 37, 1) 26%, rgba(7, 153, 29, 1) 80%, rgba(0, 212, 255, 0) 100%);
	animation: animate-preloader 1.5s ease-in-out forwards infinite;
  }
}
