body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
  'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
  'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  color: white;
  background-color: darkseagreen;
  h1 {
	font-size: 2.5rem;
	font-weight: bold;
    @media screen and (max-width: 576px) {
      font-size: 1.6rem;
    }
  }
  a {
	color: white;
  }
}
.main-footer {
  padding: 3rem;
  color: white;
  background-color: darkkhaki;
}
.main {
  padding: 6rem 3rem;
  min-height: 80vh;
  @media screen and (max-width: 576px) {
    padding: 6rem 0;
  }
}
hr {
  display: none;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 1600px;
}
